# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
data

# Editor
.idea
*.swp

# Other
wandb
output
model_weights
checkpoints
ckpts*
pre_train
downstream
downstream_without_pretrain

.ipynb_checkpoints
*.ipynb
*.sh

# DevContainer
!.devcontainer/*

