# conda install
wget https://repo.anaconda.com/archive/Anaconda3-5.3.0-Linux-x86_64.sh
chmod +x Anaconda3-5.3.0-Linux-x86_64.sh
source ~/.bashrc

# create python env
conda create -n hukun_torch python=3.7.3

pip3 install torch==1.10.2+cu113 torchvision==0.11.3+cu113 torchaudio===0.10.2+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html 

pip install --no-index torch-scatter -f https://pytorch-geometric.com/whl/torch-1.10.2+cu113.html
pip install --no-index torch-sparse -f https://pytorch-geometric.com/whl/torch-1.10.2+cu113.html
pip install --no-index torch-cluster -f https://pytorch-geometric.com/whl/torch-1.10.2+cu113.html
pip install --no-index torch-spline-conv -f https://pytorch-geometric.com/whl/torch-1.10.2+cu113.html
pip install --no-index torch-scatter -f https://data.pyg.org/whl/torch-2.5.0%2Bcu124/torch_scatter-2.1.2%2Bpt25cu124-cp310-cp310-linux_x86_64.whl
pip install torch-geometric